:root {
  --primary-fontColor: #FFFFFF;
  --error-fontColor: #FF0000;
  --primaryBackground-color: black;
  --primary-font: RobotoMonoRegular;
  --secondary-font: RobotoRegular;
  --primaryBold-font: RobotoMonoBold;
  --primary-fontSize: 20px;
  --secondary-fontSize: 16px;
}

.heading {
  width: 50%;
  font-size: 48px;
}

body {
  background-color: var(--primaryBackground-color);
}

.App {
  font-family: var(--primary-font);
  color: var(--primary-fontColor);
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 50%;
}

.text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--primary-fontSize);
}

.text p {
  height: 100%;
}

.form {
  height: 100%;
  padding-left: 15%;
}

.email {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--primary-fontColor);
  border: none;
  background-color: var(--primaryBackground-color);
  outline: 0;
}

.email::placeholder{
  color: var(--primary-fontColor);
  opacity: 1;
}

.line {
  background-color: var(--primary-fontColor);
  height: 2px;
  border: none;
}

.top {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.submit {
  font-family: var(--secondary-font);
  border: none;
  font-size: var(--secondary-fontSize);
  height: 48px;
  width: 217px;
}


.error {
  display: none;
  color: var(--error-fontColor);
  font-size: 18px;
}

.successP {
  color: black;
  width: 100%;
}

  .satellite:first-child {
    height: 100%;
  }

@media screen and (max-width: 700px) {
  .row {
    display: inline;
    justify-content: left;
    align-items: left;
  }

  .heading {
    font-size: 32px;
    font-family: var(--primaryBold-font);
    width: 100%;
  }

  .text {
    width: 90%;
    font-size: var(--secondary-fontSize);
  }

  .form {
    padding-left: 0px;
    padding-top: 13%;
  }

  .email {
    font-size: var(--secondary-fontSize);
  }

  .submit {
    width: 100%;
  }

  .error {
    font-size: var(--secondary-fontSize);
  }

  .satellite {
    width: 50%;
    margin: -30px;
    margin-bottom: -50px;
  }

}